input/test.csv
input/test.zip
input/training.zip
input/training.csv
input/SampleSubmission.csv
inpup/IdLookupTable.csv
logs
logs/*
logs_miw
logs_miw/*
*.h5
input/logs_miw_low/
dataset_facial-keypoints-detection.zip